*{
    padding:0px;
    margin:0px;
    background-color: rgb(6, 39, 39);
}
.ContenedorTituloP{
    background-color: rgb(6, 39, 39);
}
a{
    text-decoration: none;/*Para que todos los links(etiqueta a) de react
    no contengan un subrayado obligatoriamente*/
    color: rgb(0, 0, 0);
}